#ignore catalogs
.sass-cache/
.idea/
config/production.json
config/runtime.json
node_modules/
client/public/javascripts/*
client/public/stylesheets/*.css
client/public/views/widgets/*
logs/*.txt
!.gitignore
