.smogAlert {
  color: #fff;
  padding: 30px;
  width: 100%;
  height: 100%;
  @include vendor-prefix(box-sizing ,border-box);

  canvas {
    display: block;
    margin: 0 auto;
  }
  .pollutant {
    margin: 0 0 10px 0;
    font-size: 16px;
    text-align: center;
  }

  .percentage {
    font-size: 48px;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
  }

  .footer {
    font-size: 16px;
    color: #747474;
    margin: 10px;
    text-align: center;
  }
}

.smogAlertEdit {
  p {
    text-transform: uppercase;
  }

  button {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  select {

    option {
      color: #000000;
      padding: 25px;
    }

    width: 100%;
  }
}
