.smogAlert {
  color: #fff;
  padding: 30px;
  width: 100%;
  height: 100%;
  @include box-sizing(border-box);

  .pollutant {
    font-size: 16px;
    text-align: center;
  }

  .percentage {
    font-size: 48px;
    text-align: center;
  }

  .footer {
    font-size: 16px;
    position: absolute;
    bottom: 30px;
    color: #747474;
    margin: 0px;
    text-align: center;
  }
}

.foosball-table {
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  @include box-sizing('border-box');

  .footer {
    position: absolute;
    bottom: 0px;
    color: #9f9f9f;;
  }

  .state {
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;

    &:before {
      content: "";
      display: block;
      border-radius: 50%;
      background-color: green;
      width: 15px;
      height: 15px;
      position: absolute;
      left: 70px;
      top: 4px;
    }

    &.occupied:before {
      background-color: #ef6969;
    }
  }

  .small-points {
    font-size:72px;
    text-align: center;
  }

  .big-points {
    margin-top: 10px;
    width: 120px;
    height: 60px;
    background-color: #d3d3d3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;

    .pull-left {
      border-right: 1px solid #b8b8b8;
    }
    .pull-left, .pull-right {
      width: 50%;
      text-align: center;
      margin: 13px 0;
      @include box-sizing('border-box');
    }
  }
}
.weather {
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  @include box-sizing('border-box');

  .footer {
    position: absolute;
    bottom: 0px;
    color: #9f9f9f;
  }
}