.birthday {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .person {
    position: relative;
    float:left;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }

    p {
      position: absolute;
      margin: 0;
      bottom: 25px;
      text-align: center;
      width: 100%;
      background-color: hotpink;
      padding: 10px 0;
      font-weight: bold;
    }

  }


}
.rooms {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  color: #fff;

  .room {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 36px 0 10px 0;
  }

  .availability {
    margin: 0;
    text-align: center;
    position: relative;
    left: 5px;
    font-size: 16px;

    &:before {
      content: "";
      display: block;
      border-radius: 50%;
      background-color: #89ae0d;
      width: 15px;
      height: 15px;
      position: absolute;
      left: 5px;
      top: 4px;
    }

    &.occupied:before {
      background-color: #ec1414;
    }
  }
}
.smogAlert {
  color: #fff;
  padding: 30px;
  width: 100%;
  height: 100%;
  @include box-sizing(border-box);

  canvas {
    display: block;
    margin: 0 auto;
  }
  .pollutant {
    margin: 0 0 10px 0;
    font-size: 16px;
    text-align: center;
  }

  .percentage {
    font-size: 48px;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
  }

  .footer {
    font-size: 16px;
    color: #747474;
    margin: 10px;
    text-align: center;
  }
}

.smogAlertEdit {
  p {
    text-transform: uppercase;
  }

  button {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  select {
    option {
      color: #000000;
      padding: 25px;
    }
    width: 100%;
  }
}

.foosball-table {
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  @include box-sizing('border-box');

  .footer {
    position: absolute;
    bottom: 0px;
    color: #9f9f9f;;
  }

  .state {
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;

    &:before {
      content: "";
      display: block;
      border-radius: 50%;
      background-color: green;
      width: 15px;
      height: 15px;
      position: absolute;
      left: 70px;
      top: 4px;
    }

    &.occupied:before {
      background-color: #ef6969;
    }
  }

  .small-points {
    font-size:72px;
    text-align: center;
  }

  .big-points {
    margin-top: 10px;
    width: 120px;
    height: 60px;
    border: 1px solid #d3d3d3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;

    .pull-left {
      border-right: 1px solid #b8b8b8;
    }
    .pull-left, .pull-right {
      width: 50%;
      text-align: center;
      margin: 13px 0;
      @include box-sizing('border-box');
    }
  }
}
.weather {
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  @include box-sizing('border-box');
  color: #ffffff;

  .temp {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: right;

    sup {
      position: relative;
      top: -5px;
      left: 5px;
      font-size: 14px;
    }
  }

  .footer {
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
  }
}

.weatherEdit {
  p {
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  select {
    width: 100%;
  }

  button {
    position: absolute;
    right: 25px;
    bottom: 20px;
  }
}